build/
.dart_tool/
.idea/
*.apk
*.aab
*.ipa
*.zip
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
Generated.xcconfig
flutter_export_environment.sh

android/.kotlin/
functions/node_modules/
functions/.env
functions/.env.*
firebase-debug.log
firebase-debug.*.log
functions/lib/
functions/.runtimeconfig.json
